body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url('./pictures/pozadí.png');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
}

h1 {
    text-align: center;
    margin: 0;
    color:#40E0D0;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
}

p {
    margin: 0;
}

.odkaz {
    text-decoration: none;
    color:#89CFF0;
}

.odkaz2 {
    text-decoration: none;
    color:#ADD8E6;
}

.odkaz:hover {
  color: #7393B3;
}

.odkaz:visited

.p {
    margin: 1rem;
    display: inline-block;
}
