body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url('./pictures/pozadí.png');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
}

h1 {
    text-align: center;
    margin: 0;
}

h2 {
    text-align: center;
}

.odkaz {
    text-decoration: none;
    color:#00FFFF;
}

.odkaz:hover {
  color: #89CFF0;
}

.odkaz:visited
