body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url('./pictures/pozadí.png');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    background-position: center;
}

h1 {
    text-align: center;
    margin: 0;
    color: #40E0D0;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-right: 2.5rem;
}

h3 {
    text-align: center;
}

p {
    margin: 0;
}

.odkaz {
    text-decoration: none;
    color:#0047ABD;
}

.odkaz2 {
    text-decoration: none;
    color:#0047ABD;
}

.odkaz:hover {
  color: #7393B3;
}

.odkaz:visited {
    color: #0047AB;
}

.p {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.p2 {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.p3 {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.p4 {
    padding-left: 2rem;
    padding-top: 2rem;
}

.tlacitko {
    background-color: lightblue;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 5px;

}

.tlacitko:hover {
  background: #7393B3;
  color:##0000FF;
}

.container {
  display: flex;
  gap: 300px;
  margin-left: 28rem;
}
